<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <div class="navbar-brand">Project dashboard</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn bg-warning mr-3" role="button" href="{{ROUTES.ADD_PROJECT_ROUTE}}">Add New Project</a>
            <a class="btn bg-warning mr-3" role="button" href="{{ROUTES.USER_LIST_ROUTE}}">Users</a>
        </form>
    </div>
</nav>