<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <a class="btn bg-warning mr-3" href="{{ROUTES.DASHBOARD_ROUTE}}">
        <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
    </a>
    <div class="navbar-brand">Project Details - {{project?.name}}</div>
</nav>
<div class="accordion m-2" *ngIf="project">
    <app-project-requirements [projectId]="projectId"></app-project-requirements>
    <app-project-risks [projectId]="projectId"></app-project-risks>
    <app-project-meta [project]="project"></app-project-meta>
</div>